* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #efefef;
  color: #333;
}

header {
  padding: 2rem 4rem;
  border-bottom: 2px solid #29213f;
  background-color: #fff;
  block-size: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  transition: background-color 0.3s;
}

header img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

main {
  margin: 2rem 4rem;
}

main ul {
  list-style: none;
}

main a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  transition: color 0.3s, text-decoration 0.3s;
}

main a:hover {
  text-decoration: underline;
  color: rgb(255, 15, 135);
}

header img {
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem auto;
}

h1 {
  text-align: center;
  color: tomato;
  text-decoration: underline;
  margin-top: 0.5rem;
}

section {
  margin-bottom: 3rem;
}

section:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

p {
  max-width: 80ch;
  line-height: 1.6;
}

section li h3,
section li p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

section ul {
  padding-left: 1.5rem;
  list-style: none;
}

section li {
  margin: 0.5rem 0;
}

footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid #29213f;
  color: #555;
  font-size: 0.9rem;
  background-color: #fff;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
}
